/*  your css code here. If applicable */
*{
	color: white;
	background-color: black;
	align-items: center;
	text-align: center;
	margin: 5px;
}
#myForm{
	margin-top: 50px;
}
#btn{
	background-color: darkblue;
}